.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
}

.card {
    overflow: hidden;
    box-shadow: 0 2px 20px var(--card-gray300);
    border-radius: var(--card-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.card:hover {
    transform: scale(1.02);
}

.cardImage{
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.title {
    padding: 1rem;
}

.description{
    height: 150px;
}

.descriptionDetails {
    padding: 0 1rem;
}

.cardButton {
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid var(--card-primary);
    background: transparent;
    color: var(--card-primary);
    border-radius: var(--card-radius);
    transition: background 200ms ease-in, color 200ms ease-in;
}

.cardButton:hover{
    background: var(--card-primary);
    color: white;
}