.container{
    justify-content: center;
    margin-top: 100px;
}

.cardLayout {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

.card {
    justify-content: center;
}

@media (min-width: 640px){
    .cardLayout {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    .cardLayout {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .cardLayout {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}